<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>Create post</h2>
            <div ng-show="alerts.errors" class="alert alert-danger">
                <li ng-repeat = "error in alerts.errors">
                    {{ error[0] }}
                </li>
            </div>  
    
    	<form ng-submit="submit()" enctype="multipart/form-data">
    		<div class="form-group">
        		<label >title</label>
        		<input ng-model="postData.title" type="text" name="title" class="form-control" id = "title"> 
    		</div>
    		<div class="form-group">
        		<label >description</label>
        		<textarea ng-model="postData.description" name="description" class="form-control"></textarea>
    		</div>
    		<div class="form-group">  
        		<label >categories </label>
        		<select  ng-model="postData.categories_ids" name="categories_ids" multiple class = "form-control">
        			<option ng-repeat = "category in categories" ng-selected="selectedCategories(category.id)"  value="{{ category.id }}">
        			 {{ category.name }}
                </option>
        		</select>
    		</div>
    		<div class="form-group">
        		<label >image</label>
        		<input type="file" name="image" class="form-control"> 
    		</div>
    		<div class="form-group">
        		<input type="submit" name="submit" class="btn btn-success" value="Save"> 
    		</div>
    	</form>
