<div class="jumbotron" style="margin-bottom:20px; padding-bottom:10px;">
	<div class="container">
		<h2 class="text-center">  Post </h2>
	</div>
</div>

<div ng-show="alerts.errors" class="alert alert-danger">
	<li ng-repeat = "error in alerts.errors">
		{{ error }}
	</li>
</div>

<form ng-submit="submit()" accept-charset="UTF-8" role="form" style="max-width:350px; padding:10px;" class="center-block img-thumbnail" enctype="multipart/form-data">
	<div class="form-group" ng-init="postData.title=''">
		<label for="Title:">Title:</label>
		<input ng-model="postData.title" required="required" class="form-control" placeholder="Enter title" id="title" name="title" type="text">
	</div>
	<div class="form-group" ng-init="postData.description=''">
		<label for="Description:">Description:</label>
		<textarea ng-model="postData.description" required="required" class="form-control" rows="5" id="description" name="description" cols="50"></textarea>
	</div> 
	<div class="form-group">
		<label for="Choose Categories:">Choose Categories:</label>
		<div style="height:100px; overflow:scroll;">
    		<select  ng-model="postData.categories_ids" name="categories_ids"  class = "form-control" multiple ng-multiple="true">
    			<option ng-repeat = "category in categories"   value="{{ category.id }}" ng-selected='1'>
    			 	{{ category.title }}
            	</option>
    		</select>
    		                    
		</div>
	</div>
	Categories :
	 <div>
	 	<a ng-repeat="category in postData.categories" href="#/categories/{{category.id}}">---{{category.title}}---</a>
	 </div>
	<div class="form-group" ng-controller="FileController">
		<label for="Choose Image:">Choose Image:</label>
		<input id="post_image" name="file" type="file" oi-file="options">
	</div> 
	<div class="form-group text-center">
		<input class="btn btn-default" type="submit" value="Save!">
	</div>
</form>