<div class="jumbotron" style="margin-bottom:0; padding-bottom:10px;">
	<div class="container">
		<h2 class="text-center"> Post - {{post.title}} </h2>
	</div>
</div>

<div class="row">
	<div class="col-md-12" style="border-bottom:1px solid #EEEEEE;">
		<p class="text-center" style="font-family: Georgia, Times New Roman, Times, serif;font-weight:bold;font-size:170%;">
			{{post.title}} 
		</p>
		<p class="text-center" style="font-family: Georgia, Times New Roman, Times, serif;">
			{{post.updated_at}} by
				<a href="#">User</a>
		</p>
		<p class="text-center" style="font-family: Georgia, Times New Roman, Times, serif;">

				Single Post

		</p>
			<img ng-src="/images/{{post.image}}" class="img-thumbnail center-block" alt="{{post.title}}" width="304" height="236" > 
		<p class="text-center">
			{{post.description}}
		</p>
		<p class="text-center">	
				<a class="btn btn-warning btn-sm" href="#" role="button">Edit »</a>
		</p>
			<div class="text-center" onclick="return confirm('Are you sure')">

			</div>
	</div>
	<dir-timer>
</div>
