<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <h2>Create category</h2>

     <div ng-show="alerts.errors" class="alert alert-danger">
         <li ng-repeat = "error in alerts.errors">
         	{{ error[0] }}
         </li>
     </div>  

        <form ng-submit="submit()">
	        <div class="form-group">
		        <label >name</label>
		        <input ng-model="categoryData.name" type="text" name="name" class="form-control">      	
	        </div>
	        <div class="form-group">
	        	<input type="submit" name="Save" value="Save" class="btn btn-success">
	        </div>
        </form>
	</div>
</div>